<ion-header class="ion-no-border" translucent>
  <ion-toolbar color="white">
    <div class="top-navbar">
      <div class="product-title">Store</div>

      <ion-buttons end>
        <button icon-only>
          <ion-icon
            name="log-in-outline"
            (click)="loginNavigation()"
          ></ion-icon>
        </button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="small-header">
    <span class="small-text">Store setup</span>
    <div class="store-line"></div>
  </div>
  <div class="context">
    <div class="icon">
      <ion-icon name="card"></ion-icon>
    </div>
    <div class="text">
      <div class="text-header">Storefront & Website</div>
      <div class="context-smalltext">Storefront is open</div>
      <div class="text-line"></div>
    </div>
  </div>
  <div class="context">
    <div class="icon">
      <ion-icon name="logo-alipay"></ion-icon>
    </div>
    <div class="text">
      <div class="text-header">Payments</div>
      <div class="context-smalltext">Phone Order</div>
      <div class="text-line"></div>
    </div>
  </div>
  <div class="context">
    <div class="icon">
      <ion-icon name="logo-alipay"></ion-icon>
    </div>
    <div class="text">
      <div class="text-header">Shipping & Pickup</div>
      <div class="context-smalltext">No delivery options set up</div>
      <div class="text-line"></div>
    </div>
  </div>
  <div class="context">
    <div class="icon">
      <ion-icon name="bag"></ion-icon>
    </div>
    <div class="text">
      <div class="text-header">Business Info & Regional</div>
      <div class="context-smalltext">No business address specified</div>
      <div class="text-line"></div>
    </div>
  </div>

  <div class="small-header">
    <span class="small-text">Sales Channels</span>
    <div class="store-line"></div>
  </div>
  <div class="context">
    <div class="icon">
      <ion-icon name="basket"></ion-icon>
    </div>
    <div class="text">
      <div class="text-header">Sell on the Go</div>
      <div class="text-line"></div>
    </div>
  </div>
  <div class="context">
    <div class="icon">
      <ion-icon name="logo-facebook"></ion-icon>
    </div>
    <div class="text">
      <div class="text-header">Facebook Shop</div>
      <div class="text-line"></div>
    </div>
  </div>
  <div class="context">
    <div class="icon">
      <ion-icon name="logo-instagram"></ion-icon>
    </div>
    <div class="text">
      <div class="text-header">Instagram Shopping</div>
      <div class="text-line"></div>
    </div>
  </div>

  <div class="small-header">
    <span class="small-text">Shoppers</span>
    <div class="store-line"></div>
  </div>
  <div class="context">
    <div class="icon">
      <ion-icon name="person-circle"></ion-icon>
    </div>
    <div class="text">
      <div class="text-header">Customers</div>
      <div class="text-line"></div>
    </div>
  </div>
  <div class="context">
    <div class="icon">
      <ion-icon name="bag-handle"></ion-icon>
    </div>
    <div class="text">
      <div class="text-header">Abandoned Carts</div>
      <div class="text-line"></div>
    </div>
  </div>

  <div class="small-header">
    <span class="small-text">Mobile App</span>
    <div class="store-line"></div>
  </div>
  <div class="context">
    <div class="icon">
      <ion-icon name="settings"></ion-icon>
    </div>
    <div class="text">
      <div class="text-header">App Settings</div>
      <div class="text-line"></div>
    </div>
  </div>
  <div class="context">
    <div class="icon">
      <ion-icon name="help-circle-outline"></ion-icon>
    </div>
    <div class="text">
      <div class="text-header">Get Help</div>
      <div class="text-line"></div>
    </div>
  </div>
  <div class="context">
    <div class="icon">
      <ion-icon name="star-half"></ion-icon>
    </div>
    <div class="text">
      <div class="text-header">Billing & Plans</div>
      <div class="text-line"></div>
    </div>
  </div>
</ion-content>
