ion-toolbar {
  background-color: white;
  border: none;
}
ion-header {
  position: sticky;
  top: 0;
}

.top-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  height: 3rem;
  background-color: white;
}
button {
  background-color: white;
  color: black;
  font-size: x-large;
}

.title-wrapper {
  height: 2rem;
}

.product-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.small-header {
  padding-top: 1rem;
  padding-left: 1.2rem;
  .small-text {
    padding-top: 1rem;
  }
  .store-line {
    width: 100%;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    height: 1px;
    background-color: gray;
  }
}

.context {
  padding-left: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  .icon {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  .text {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    .text-header {
      font-size: 1.3rem;
    }
    .context-smalltext {
      color: gray;
    }
    .text-line {
      width: 20rem;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
      height: 1px;
      background-color: gray;
    }
  }
}
