<ion-content>
  <ion-header class="ion-no-border" translucent>
    <ion-toolbar color="white">
      <div class="top-navbar">
        <ion-buttons slot="start">
          <ion-back-button
            text=""
            color="black"
            defaultHref="/tabs/home"
          ></ion-back-button>
        </ion-buttons>

        <div class="product-title">Product</div>
        <ion-buttons end>
          <button icon-only>
            <ion-icon
              name="log-in-outline"
              (click)="loginNavigation()"
            ></ion-icon>
          </button>
        </ion-buttons>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-col *ngFor="let wishlist of wishlist; let i = index">
      <div class="productCart">
        <div class="image">
          <div class="image-wrapper">
            <ion-img src="{{wishlist.image}}"></ion-img>
          </div>
        </div>

        <div class="text">
          <div class="title">{{wishlist.title}}</div>
        </div>

        <div class="price">
          <div>${{wishlist.price}}</div>
        </div>
      </div>
    </ion-col>
  </ion-grid>
</ion-content>
