ion-toolbar {
  position: sticky;
  top: 0;
}
ion-header {
  height: 3rem;
}

ion-content {
  --ion-background-color: #f3f3f3;
}

.top-navbar {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3rem;
  button {
    color: black;
    font-size: xx-large;
  }
  .product-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;
  }
}

.productCart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 18vh;
  width: 93%;
  margin-left: 5%;
  background-color: #cdcdcd;
  border-radius: 15px;
  margin: 1rem;
  .image {
    position: relative;
    width: fit-content;
    .image-wrapper {
      background-color: white;
      width: 5rem;
      height: 5rem;
      display: flex;
      height: 20;
      object-fit: cover;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border-radius: 10px;
      margin: 10px;
      ion-img {
        height: 90%;
      }
    }
  }
}

img {
  width: 20%;
  height: 100%;
}

.image-wrapper > img {
  max-width: 50%;
}

.text {
  width: 150%;
  padding: 0.5rem;
  .title {
    font-weight: normal;
  }
}

.price {
  font-weight: bold;
  width: 56%;
  text-align: center;
}

.product-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}
