<ion-content>
  <ion-header class="ion-no-border" translucent>
    <ion-toolbar color="white">
      <div class="top-navbar">
        <ion-buttons slot="start">
          <ion-back-button
            text=""
            color="black"
            defaultHref="/tabs/home"
          ></ion-back-button>
        </ion-buttons>
        <ion-buttons end>
          <button icon-only>
            <ion-icon
              name="log-in-outline"
              (click)="loginNavigation()"
            ></ion-icon>
          </button>
        </ion-buttons>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-slides pager="true">
    <ion-slide>
      <div class="product-detail-image">
        <ng-container *ngIf="productData">
          <img src="{{productData['image']}}" />
        </ng-container>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="product-detail-image">
        <ng-container *ngIf="productData">
          <img src="{{productData['image']}}" />
        </ng-container>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="product-detail-image">
        <ng-container *ngIf="productData">
          <img src="{{productData['image']}}" />
        </ng-container>
      </div>
    </ion-slide>
  </ion-slides>

  <!-- <div>
    <p class="title" *ngIf="productData">{{productData['title']}}</p>
    <div class="price-card">
      <p class="title" *ngIf="productData">${{productData['price']}}</p>
      <div class="product-quantity">
        <ion-button (click)="decreaseQuantity()" color="danger">-</ion-button>
        <div class="quantity">{{quantity}}</div>
        <ion-button (click)="increaseQuantity()" color="danger">+</ion-button>
      </div>
    </div>

    
    <ion-button color="danger" class="card-button" (click)="addToCart(quantity)"
      >Add to cart</ion-button
    >

    <div class="overall-description">
      <div class="discription">
        
        <div class="description-text" *ngIf="productData">
          {{productData.description}}
        </div>
      </div>
      
    </div>
  </div> -->

  <div class="add-to-cart">
    <p class="title" *ngIf="productData">{{productData['title']}}</p>

    <div class="overall-description">
      <!-- <ion-icon class="icon" name="ellipse"></ion-icon> -->
      <div class="detail-description-text" *ngIf="productData">
        {{productData.description}}
      </div>
    </div>

    <div class="card-price-quantity">
      <p class="product-price" *ngIf="productData">${{productData['price']}}</p>

      <div class="quantity-cart">
        <div class="product-quantity">
          <ion-button fill="clear" (click)="decreaseQuantity()">-</ion-button>
          <div class="quantity">{{quantity}}</div>
          <ion-button fill="clear" (click)="increaseQuantity()">+</ion-button>
        </div>

        <ion-button
          color="dark"
          class="card-button"
          (click)="addToCart(quantity)"
          >Cart</ion-button
        >
      </div>
    </div>
  </div>
</ion-content>
