ion-back-button {
  --color: rgb(0, 0, 0) !important;
}

.top-navbar {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3rem;
  button {
    color: black;
    font-size: xx-large;
    background-color: white;
  }
}

ion-slides {
  .product-detail_img {
    margin-bottom: 2rem;
  }

  img {
    height: 50vw;
  }

  .product-detail-image {
    margin: 2rem;
  }

  --bullet-background-active: black;
}

.detail-description-text {
  font-size: smaller;
  color: gray;
}
.add-to-cart {
  height: 17rem;
  position: absolute;
  background-color: #f0edf1;
  top: 22rem;
  padding: 1rem;
  border-radius: 2rem;
  .title {
    font-weight: bolder;
    font-size: normal;
  }
  .card-price-quantity {
    display: flex;
    .quantity-cart {
      display: flex;
      flex-direction: row;
      position: absolute;
      top: 10rem;
      left: 9rem;
    }
    .product-price {
      font-weight: bolder;
      font-size: larger;
      position: absolute;
      top: 10rem;
      left: 1rem;
      .overall-description {
        margin-top: 1rem;
        padding: 1rem;
        background-color: rgb(241, 240, 240);
        color: gray;
      }
    }

    .product-quantity {
      display: flex;
      justify-content: center;
      align-items: center;
      border-color: 1rem;
      margin: 1rem;
      height: 1.5rem;
      background-color: white;
      border-radius: 2rem;
      border: black;
      border: 0.1rem;
      border-style: solid;
      border-color: gray;
      ion-button {
        color: black;
      }
      .quantity {
        margin: 0.5rem;
      }
    }
  }
}

.icon {
  font-size: x-small;
  padding-right: 1rem;
}

.card-button {
  --border-radius: 1rem;
}

// .ion-slides {
//   height: 50%;
// }
