.login-header {
  background-color: #f3f3f3;
  position: absolute;
  height: 20rem;
  width: 100%;
  z-index: 1;
  button {
    position: absolute;
    left: 1.5rem;
    top: 1rem;
    height: 3rem;
    width: 3rem;
    border-radius: 1rem;
    background-color: black;
  }
  ion-icon {
    font-size: x-large;
    color: white;
  }
  .description-text {
    width: 10rem;
    position: absolute;
    top: 8rem;
    left: 2rem;
    font-size: small;
    color: black;
  }
  .login {
    padding-top: 4rem;
    font-size: xx-large;
    color: black;
    padding-left: 2rem;
    font-weight: bolder;
  }
}

.image {
  position: absolute;
  top: 4rem;
  height: 16rem;
  left: 9rem;
  // right: -6rem;
}

.login-page {
  padding: 1rem;
  position: absolute;
  width: 100%;
  z-index: 4;
  top: 14rem;
  background-color: white;
  border-radius: 3rem;
  .login-form {
    margin: 2rem;
  }
  .signin-button {
    margin-top: 1rem;
  }

  .small-text {
    color: gray;
    margin: 0.5rem;
  }

  .register-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .or-text {
      font-weight: bold;
    }

    .register-text {
      font-weight: bold;
      color: gray;
      margin: 0.5rem;
    }
  }
}
