<ion-content>
  <div class="login-header">
    <button icon-only>
      <ion-icon name="chevron-back" (click)="backNavigation()"></ion-icon>
    </button>

    <p class="login">L O G I N</p>
    <p class="description-text">
      Please enter your credential to login with us
    </p>
    <ion-img
      class="image"
      src="https://www.peddlr.io/home_page/asset/img/features/1x/free-store-link.png"
    >
    </ion-img>
  </div>

  <div>
    <div class="login-page">
      <div class="login-form">
        <form>
          <ion-item lines="full">
            <ion-label position="floating">Username</ion-label>
            <ion-input
              type="text"
              [(ngModel)]="inputUserName"
              [ngModelOptions]="{standalone: true}"
              required
            ></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">Password</ion-label>
            <ion-input
              [(ngModel)]="inputPassword"
              type="password"
              [ngModelOptions]="{standalone: true}"
              required
            ></ion-input>
          </ion-item>

          <ion-row>
            <ion-col>
              <ion-button
                class="signin-button"
                color="dark"
                expand="block"
                (click)="onSubmit()"
                >Sign In</ion-button
              >
              <a [routerLink]="" class="small-text">Forgot Password?</a>
            </ion-col>
          </ion-row>

          <div class="register-class">
            <p class="or-text">OR</p>
            <div>
              <span>don't have an account?</span>
              <a [routerLink]="" class="register-text">register now</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>
