button{
    background-color: rgb(245, 94, 119);
    color: white;
    font-size: larger;
}


.top-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    background-color: rgb(245, 94, 119);
}


.product-title{
    font-size: small;
    color:white
}

