<ion-content>
  <ion-header class="ion-no-border" translucent>
    <ion-toolbar color="white">
      <div class="top-navbar">
        <ion-buttons slot="start">
          <button icon-only>
            <ion-icon name="filter"></ion-icon>
          </button>
        </ion-buttons>

        <div class="product-title">Product</div>
        <ion-buttons end>
          <button icon-only>
            <ion-icon
              name="log-in-outline"
              (click)="loginNavigation()"
            ></ion-icon>
          </button>
        </ion-buttons>
      </div>
    </ion-toolbar>
  </ion-header>

  <div class="sorted-searching">
    <ion-searchbar
      class="homepage-searchbar"
      showcancelbutton=""
      placeholder="search item"
      (keyup)="filterSearch($event)"
    ></ion-searchbar>

    <div class="sorted-container">
      <select ng-model="sortProduct" (change)="filterSort($event)">
        <option value="id">ID</option>
        <option value="title">Title</option>
        <option value="price">Price</option>
      </select>
    </div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col width-50 *ngFor="let p of productData; let i = index">
        <!-- <ion-card> -->

        <ion-card class="card-image">
          <div class="image">
            <div (click)="onClick(p.id)" class="image-wrapper">
              <ion-img src="{{p.image}}"></ion-img>
            </div>
          </div>

          <ion-card-header class="card-header">
            <div class="btnMore">
              <ion-button fill="clear" (click)="addToWishlist($event,i)">
                <ion-icon
                  id="wishList-heart"
                  class="image-icon"
                  [name]="inWishList(p.id)?'heart-circle':'heart-circle-outline'"
                ></ion-icon>
              </ion-button>
            </div>

            <div class="card-price">
              <ion-text class="price"> ${{p.price}} </ion-text>
            </div>

            <div class="title-wrapper">
              <!-- if length> 10 -->
              <div class="title-wrapper" *ngIf="p.title?.length > 11 ">
                <ion-text class="title">
                  {{p.title.substring(0,10)}}...
                </ion-text>
              </div>
              <!-- if length ==10 -->
              <div class="title-wrapper" *ngIf="p.title?.length < 10 ">
                <ion-text class="title"> {{p.title}}... </ion-text>
              </div>
            </div>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
