* {
  background-color: #f3f3f3;
}
ion-toolbar {
  background-color: #f3f3f3;
  border: none;
}
ion-header {
  position: sticky;
  top: 0;
}

.top-navbar {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3rem;
  button {
    color: black;
    font-size: xx-large;
    // background-color: white;
  }
}

.product-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: black;
}

.sorted-searching {
  display: flex;
  flex-direction: row;
  .homepage-searchbar {
    height: 4rem;
    width: 60%;
  }

  ion-button {
    border-radius: 8px;
    margin-top: 0.7rem;
    margin-left: 3rem;
    height: 2.3rem;
  }
  .option-button {
    background-color: white;
    .option-icon {
      background-color: white;
      font-size: x-large;
      color: black;
    }
  }
}

.sorted-container {
  margin-right: 1rem;
  text-align: right;
  position: sticky;
  top: 7rem;
  margin-top: 1.3rem;
  margin-left: 3rem;
  z-index: 5;
}

ion-searchbar {
  position: sticky;
  top: 3rem;
  z-index: 5;
  height: 4rem;
  background-color: #f3f3f3;
  margin-left: 0.7rem;
  --background: white;
  --placeholder-font-weight: bold;
}

.card-image {
  background-color: white;
  border-radius: 1rem;
  .image {
    position: relative;
    width: fit-content;
  }
  .image-wrapper {
    display: flex;
    height: 50vw;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
  }

  .image-wrapper > img {
    max-width: 100%;
  }

  img {
    width: 100%;
  }
}

.card-header {
  background-color: white;
  .id {
    background-color: white;
  }
  .price {
    background-color: white;
  }
  .line-through-price {
    font-size: x-small !important;
    padding-left: 0.5rem;
    text-decoration: line-through;
    background-color: white;
  }
  .title-wrapper {
    height: 2rem;
    background-color: white;
    .title {
      font-size: medium;
      background-color: white;
      color: black;
      font-weight: bold;
    }
  }
  .card-price {
    display: flex;
    background-color: white;
  }
  .btnMore {
    padding: 5px;
    position: absolute;
    top: 24px;
    right: 1rem;
    background-color: white;
    ion-button {
      background-color: white;
    }
    .image-icon {
      position: absolute;
      color: black;
      background-color: white;
      font-size: xx-large;
    }
  }
}
