.product-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  color: white;
}

.heaader-userDetail {
  position: absolute;
  background-color: #d2d2d2;
  top: 0;
  width: 100%;
  height: 12rem;
  z-index: 5;
  display: flex;
  flex-direction: row;
  color: white;
  font-size: larger;
  padding: 1rem;
  .userprofile-text {
    color: black;
    font-weight: 300;
    font-size: 1.3rem;
  }
}

button {
  background-color: #d2d2d2;
  font-size: larger;
  right: 0.5rem;
  position: absolute;
  height: 4rem;
  color: black;
}

ion-avatar {
  position: absolute;
  top: 7rem;
  left: 37%;
  z-index: 10;
  width: 7rem;
  height: 7rem;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  // left: 24%;
  top: 10rem;
  z-index: 8;
  border-radius: 2rem;
  width: 100%;
  padding-top: 5rem;
  height: 8rem;
  background-color: white;

  .name-email {
    .email {
      margin-left: 2rem;
    }
  }
  .name {
    font-size: 2rem;

    .firstname {
      font-weight: bold;
    }
  }
}

.id-username {
  display: flex;
  position: absolute;
  top: 24rem;
  left: 5%;

  .id {
    padding: 0.5rem;
    margin-left: 2rem;
  }

  .username {
    padding: 0.5rem;
    margin-left: 6rem;
  }
  .ruler {
    background-color: rgb(109, 108, 108);
    height: 0.1rem;
    width: 10rem;
    margin: 0.1rem;
  }
}

.phonenumber-address {
  position: absolute;
  left: 6%;
  top: 29rem;
  ion-icon {
    margin-right: 0.5rem;
  }
}

.title {
  margin-left: 0.1rem;
  font-weight: bold;
}
