ion-header {
  position: sticky;
  top: 0;
}

ion-content {
  --ion-background-color: #f3f3f3;
}

ion-toolbar {
  background-color: #f3f3f3;
  border: none;
}
ion-grid {
  background-color: #f3f3f3;
}

button {
  background-color: #f3f3f3;
  color: black;
  font-size: xx-large;
}

.top-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3rem;
  background-color: #f3f3f3;
  .product-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;
  }
}

.checkout {
  padding: 1rem;
  background-color: #f1f0f0;

  .priceCalculation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .calculation-text {
      font-weight: bold;
    }
    .bottom-calculation {
      .after-calculate {
        font-size: larger;
        font-weight: bold;
        padding-right: 1rem;
      }
      .usd {
        color: gray;
        font-size: small;
      }
    }
  }
}

.productCart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 18vh;

  .image {
    position: relative;
    width: fit-content;
    .image-wrapper {
      background-color: white;
      width: 5rem;
      height: 5rem;
      display: flex;
      height: 20;
      object-fit: cover;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border-radius: 10px;
      margin: 10px;
      ion-img {
        height: 90%;
      }
    }
  }

  img {
    width: 20%;
    height: 100%;
  }

  .image-wrapper > img {
    max-width: 50%;
  }

  .cart-text {
    .cart-text-title {
      display: flex;
      flex-direction: row;
      margin-right: 3rem;
      justify-content: space-between;
      width: 95%;
      .text {
        width: 150%;
        padding: 0.5rem;
        .title {
          font-weight: bold;
        }
      }

      .trashbin-button {
        font-size: large;
        background-color: #f3f3f3;
        color: black;
        padding-bottom: 1rem;
      }
    }
  }

  .calculation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5rem;
    .price {
      // padding: 1rem;
      width: 100%;
      text-align: center;
    }

    .product-quantity {
      display: flex;
      justify-content: center;
      align-items: center;
      .quantity {
        width: 1rem;
        text-align: center;
      }
      .quantity-changing {
        background-color: #f3f3f3;
        color: black;
      }
    }
  }
}

.promocode-box {
  background-color: white;
  margin-bottom: 1rem;
  .promocode-input {
    text-indent: 1rem;
    background-color: white;
    height: 3rem;
    margin-right: 1rem;
    border-radius: 10px;
  }
  .apply-button {
    color: white;
    background-color: black;
    margin-right: rem;
    border-radius: 10px;
    font-size: small;
    padding: 1rem;
  }
}

.checkout-button {
  width: 90%;
  background-color: black;
  color: white;
  font-size: large;
  height: 3rem;
  margin: 1rem;
  border-radius: 3rem;
}
