<ion-content class="content">
  <ion-header class="ion-no-border" translucent>
    <ion-toolbar color="white">
      <div class="top-navbar">
        <ion-buttons slot="start">
          <ion-back-button
            text=""
            color="black"
            defaultHref="/tabs/home"
          ></ion-back-button>
        </ion-buttons>

        <div class="product-title">Product</div>
        <ion-buttons end>
          <button icon-only>
            <ion-icon
              name="log-in-outline"
              (click)="loginNavigation()"
            ></ion-icon>
          </button>
        </ion-buttons>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-col *ngFor="let productArray of productArray; let i = index">
      <div class="productCart">
        <div class="image">
          <div class="image-wrapper">
            <ion-img src="{{productArray.image}}"></ion-img>
          </div>
        </div>

        <div class="cart-text">
          <div class="cart-text-title">
            <div class="text">
              <div class="title">{{productArray.title}}</div>
            </div>
            <ion-buttons end>
              <button
                class="trashbin-button"
                (click)="deleteItem(i)"
                ion-button
              >
                <ion-icon name="close-outline"></ion-icon>
              </button>
            </ion-buttons>
          </div>

          <div class="calculation">
            <div class="price">
              <div>${{productArray.price}}</div>
            </div>
            <!-- <div class="price">
              $ {{(productArray.quantity*productArray.price).toFixed(2)}}
            </div> -->
            <div class="product-quantity">
              <ion-button
                class="quantity-changing"
                fill="clear"
                (click)="decreaseQuantity(i)"
              >
                <ion-icon name="remove-circle-outline"></ion-icon
              ></ion-button>
              <div class="quantity">{{productArray.quantity}}</div>
              <ion-button
                class="quantity-changing"
                fill="clear"
                (click)="increaseQuantity(i)"
              >
                <ion-icon name="add-circle"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </div>
    </ion-col>
    <!-- {{productArray | json}} -->
  </ion-grid>

  <div class="promocode-box">
    <ion-item>
      <ion-input
        class="promocode-input"
        type="text"
        placeholder="Promo Code"
      ></ion-input>
      <button class="apply-button">Apply</button>
    </ion-item>
  </div>

  <div class="checkout">
    <div class="priceCalculation">
      <span class="calculation-text">Subtotal</span>
      <div class="bottom-calculation">
        <span class="after-calculate">${{subtotal}}</span>
        <span class="usd">USD</span>
      </div>
    </div>
    <div class="priceCalculation">
      <span class="calculation-text">Vat</span>
      <div class="bottom-calculation">
        <span class="after-calculate">${{(subtotal*0.1).toFixed(2)}}</span>
        <span class="usd">USD</span>
      </div>
    </div>
    <div class="priceCalculation">
      <span class="calculation-text">Total</span>
      <div class="bottom-calculation">
        <span class="after-calculate"
          >${{(subtotal+subtotal*0.1).toFixed(2)}}</span
        >
        <span class="usd">USD</span>
      </div>
    </div>
  </div>

  <button class="checkout-button">Proceed To checkout</button>
</ion-content>
